<div class="full-width">
  <form [formGroup]="form">
    <mat-form-field class="spaced full-width">
      <mat-label>DataSet</mat-label>
      <mat-select formControlName='dataSetName' (selectionChange)="dataSetSelected($event)" required="true">
        <mat-option *ngFor="let d of dataSetNames" [value]="d">
          {{d}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="spaced full-width">
      <mat-label>Algorithm</mat-label>
      <mat-select formControlName='algorithmName' (selectionChange)="algorithmSelected($event)" required="true">
        <mat-option *ngFor="let a of algorithmNames" [value]="a">
          {{a}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field class="full-width">
      <mat-label>Data</mat-label>
      <textarea formControlName='data' matInput placeholder="1.0,2.1,1.2,..." required="true"></textarea>
    </mat-form-field>
  </form>

  <br/>
  <div class="center">
    <button mat-raised-button (click)="predict()">Predict</button>
  </div>
  <br/>
  <br/>
  <div class="center">
    <ngx-json-viewer [json]="result"></ngx-json-viewer>
  </div>
</div>
